<!DOCTYPE html>
<html>
  <head>
    <title>PC-OCR | <%=translation.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/cropper.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>PC-OCR</h1>
    <p><%=translation.WELCOME_MSG %> PC-OCR.<br><%=translation.ADVICE %></p>
    <p class="info-box" style="display: none" id="connected"><%=translation.CONNECTED_MSG_PC %></p>
    <p class="error-box" style="display: none" id="parsing-error"><%=translation.PARSING_ERROR %></p>
    <img src="/api/qr-code/<%=id %>" alt="QR-Code">
    <p><%=address %>/phone/<%=id %></p>
    <div class="buttons">
      <label class="btn btn-file">
        <%=translation.SELECT_A_PHOTO %> <input type="file" id="file-input" accept="image/*">
      </label>
      <br>
      <a class="btn" id="rotate" style="display: none;"><%=translation.ROTATE %></a>
      <a class="btn" id="convert" style="display: none;"><%=translation.CONVERT %></a>
    </div>
    <div id="cropper-container"></div>
    <pre id="content"></pre>
    <p class="footer"><a href="/"><%=translation.NEW_SESSION %></a></p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/cropper.js"></script>
    <script type="text/javascript">
        var id = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);
        var socket = io.connect();
        var cropperContainer = document.getElementById('cropper-container');
        var connectedInfo = document.getElementById('connected');
        var rotateBtn = document.getElementById('rotate');
        var convertBtn = document.getElementById('convert');
        var contentBox = document.getElementById('content');
        var parsingErrorBox = document.getElementById('parsing-error');

        var getLanguagePack = function () {
          // TODO: Get languages array from server config
          var languages = [{re: 'fr', pack: 'fra'}]
          for (var i in languages) {
            var re = new RegExp(languages[i].re,'g');
            if (re.test(navigator.language || navigator.userLanguage)) {
              return languages[i].pack;
            }
          }
          return 'eng';
        };

        socket.emit('login', { id: id, type: 'computer' });

        socket.on('connected', function () {
          connectedInfo.style.display = 'block';
        });

        socket.on('error-parsing-text', function () {
          parsingErrorBox.style.display = 'block';
        });

        socket.on('room', function (data) {
          if (data.hasOwnProperty('phone')) {
            connectedInfo.style.display = 'block';
          }
        });

        socket.on('user-disconnected', function (data) {
          if (data == id) {
            connectedInfo.style.display = 'none';
          }
        });

        var select = function (data) {
          parsingErrorBox.style.display = 'none';

          while (cropperContainer.firstChild) {
            cropperContainer.removeChild(cropperContainer.firstChild);
          }

          var imgContainer = document.createElement('div');
          var img = document.createElement('img');
          imgContainer.appendChild(img);
          imgContainer.style.height = '500px';
          imgContainer.style.width = '50%';
          cropperContainer.appendChild(imgContainer);

          if (data.hasOwnProperty('base64')) {
            img.src = data.base64;
          } else {
            img.src = '/api/photos/raw/' + id + '?' + (new Date()).getTime();
          }

          var cropper = new Cropper(img, {});

          rotateBtn.style.display = 'inline-block';
          rotateBtn.onclick = function () {
              cropper.rotate(90);
          };

          convertBtn.style.display = 'inline-block';
          convertBtn.onclick = function () {
              cropper.getCroppedCanvas().toBlob(function (blob) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/api/photos');
                xhr.addEventListener('load', function() {
                  socket.emit('cropped-image-uploaded', {lang: getLanguagePack()});
                });
                var form = new FormData();
                form.append('room', id);
                form.append('type', 'cropped');
                form.append('file', blob);
                xhr.send(form);
            });
          };

        };

        document.getElementById('file-input').addEventListener('change', function (e) {
           var file = e.target.files[0],
           reader = new FileReader();
           reader.onload = function(evt){
                select({base64: evt.target.result});
           };
           reader.readAsDataURL(file);
        });

        socket.on('image-uploaded', select);

        socket.on('text-converted', function (data) {
           contentBox.innerHTML = data.text;
        });
    </script>
  </body>
</html>
