<!DOCTYPE html>
<html>
  <head>
    <title>PC-OCR | <%=translation.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>PC-OCR</h1>
    <p><%=translation.WELCOME_MSG %> PC-OCR.<br><%=translation.ADVICE %></p>
    <img src="/api/qr-code/<%=id %>" alt="QR-Code">
    <p><%=address %>/phone/<%=id %></p>
  </body>
</html>
