<!DOCTYPE html>
<html>
  <head>
    <title>PC-OCR | <%=translation.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>PC-OCR</h1>
    <p><%=translation.WELCOME_MSG %> PC-OCR.<br><%=translation.ADVICE %></p>
    <img src="/api/qr-code/<%=id %>" alt="QR-Code">
    <p><%=address %>/phone/<%=id %></p>
    <img id="img" >
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var id = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);
        var socket = io.connect();

        socket.emit('login', { id: id, type: 'computer' });

        socket.on('connected', function () {
          console.log('connected');
        });

        socket.on('image-uploaded', function (data) {
          document.getElementById('img').src = '/api/photos/raw/' + id;
        });
    </script>
  </body>
</html>
